In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from IPython.core.display import display

In [3]:
df = pd.read_table('36404-0004-Data.tsv')
df = df[df["RPTYEAR"] == 2014]
states = { 1 : 'Alabama', 2 : 'Alaska', 4 : 'Arizona', 5 : 'Arkansas', 6 : 'California', 8 : 'Colorado', 9 : 'Connecticut', 10 : 'Delaware', 11 : 'District of Columbia', 12 : 'Florida', 13 : 'Georgia', 15 : 'Hawaii', 16 : 'Idaho', 17 : 'Illinois', 18 : 'Indiana', 19 : 'Iowa', 20 : 'Kansas', 21 : 'Kentucky', 22 : 'Louisiana', 23 : 'Maine', 24 : 'Maryland', 25 : 'Massachusetts', 26 : 'Michigan', 27 : 'Minnesota', 28 : 'Mississippi', 29 : 'Missouri', 30 : 'Montana', 31 : 'Nebraska', 32 : 'Nevada', 33 : 'New Hampshire', 34 : 'New Jersey', 35 : 'New Mexico', 36 : 'New York', 37 : 'North Carolina', 38 : 'North Dakota', 39 : 'Ohio', 40 : 'Oklahoma', 41 : 'Oregon', 42 : 'Pennsylvania', 44 : 'Rhode Island', 45 : 'South Carolina', 46 : 'South Dakota', 47 : 'Tennessee', 48 : 'Texas', 49 : 'Utah', 50 : 'Vermont', 51 : 'Virginia', 53 : 'Washington', 54 : 'West Virginia', 55 : 'Wisconsin', 56 : 'Wyoming' } 
ageadm = { 1 : 18, 2 : 25, 3 : 35, 4 : 45, 5 : 55, 9 : 9999}
df = df.replace({ "AGEADMIT" : ageadm})
df = df.replace({'STATE' : states})
print(df.dtypes)
df.head(1000)

SEX                   int64
RPTYEAR               int64
STATE                object
EDUCATION             int64
ADMTYPE               int64
OFFGENERAL            int64
MAND_PRISREL_YEAR    object
PROJ_PRISREL_YEAR    object
PARELIG_YEAR         object
ADMITYR               int64
SENTLGTH              int64
OFFDETAIL             int64
RACE                  int64
AGEADMIT              int64
AGEYREND              int64
TIMESRVD_YREND        int64
dtype: object

,SEX,RPTYEAR,STATE,EDUCATION,ADMTYPE,OFFGENERAL,MAND_PRISREL_YEAR,PROJ_PRISREL_YEAR,PARELIG_YEAR,ADMITYR,SENTLGTH,OFFDETAIL,RACE,AGEADMIT,AGEYREND,TIMESRVD_YREND
17478213,2,2014,Alaska,3,9,1,,,,2011,5,1,4,45,4,2
17478214,2,2014,Alaska,2,9,1,,,,2008,5,1,4,18,2,3
17478215,2,2014,Alaska,2,9,1,,,,2010,4,3,4,18,2,2
17478216,2,2014,Alaska,1,9,2,,,,2014,0,8,4,35,3,0
17478217,2,2014,Alaska,1,9,2,,,,2014,0,11,4,55,5,0
17478218,2,2014,Alaska,1,9,4,,,,2014,2,13,4,25,2,0
17478219,2,2014,Alaska,1,9,3,,,,2014,2,12,4,25,2,0
17478220,2,2014,Alaska,2,9,4,,,,2011,4,13,4,18,2,2
17478221,2,2014,Alaska,2,9,4,,,,2014,0,13,4,25,2,0
17478222,2,2014,Alaska,1,9,4,,,,2014,9,13,4,25,2,0
17478223,2,2014,Alaska,9,9,4,,,,2014,9,13,4,25,2,0
17478224,2,2014,Alaska,2,9,4,,,,2014,9,13,4,25,2,0
17478225,2,2014,Alaska,2,9,1,,,,2014,1,4,2,45,4,0
17478226,2,2014,Alaska,2,9,4,,,,2013,0,13,2,25,2,1
17478227,2,2014,Alaska,2,9,1,,,,2001,9,1,2,35,5,4
17478228,2,2014,Alaska,9,9,1,,,,2014,1,5,2,25,2,0
17478229,2,2014,Alaska,1,9,1,,,,2007,0,5,2,25,3,3
17478230,2,2014,Alaska,2,9,1,,,,2014,3,3,2,35,3,0
17478231,2,2014,Alaska,2,9,1,,,,2014,3,4,2,25,2,0
17478232,2,2014,Alaska,2,9,2,,,,2013,3,8,2,55,5,1
17478233,2,2014,Alaska,1,9,4,,,,2014,2,13,2,25,2,0
17478234,2,2014,Alaska,2,9,4,,,,2012,0,13,2,45,4,2
17478235,2,2014,Alaska,1,9,4,,,,2014,0,13,2,25,2,0
17478236,2,2014,Alaska,2,9,4,,,,2007,9,13,2,35,3,3
17478237,2,2014,Alaska,2,9,4,,,,2014,1,13,2,45,4,0
17478238,2,2014,Alaska,1,9,4,,,,2014,9,13,2,25,2,0
17478239,2,2014,Alaska,2,9,4,,,,2014,9,13,2,35,3,0
17478240,2,2014,Alaska,2,9,4,,,,2014,9,13,2,25,2,0
17478241,2,2014,Alaska,2,9,4,,,,2014,9,13,2,25,2,0
17478242,2,2014,Alaska,2,9,4,,,,2014,9,13,2,25,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17479183,1,2014,Alaska,2,9,4,,,,2014,0,13,4,25,2,0
17479184,1,2014,Alaska,2,9,1,,,,2009,5,3,4,35,4,3
17479185,1,2014,Alaska,2,9,1,,,,2014,5,3,4,45,4,0
17479186,1,2014,Alaska,1,9,1,,,,2008,5,3,4,35,3,3
17479187,1,2014,Alaska,1,9,1,,,,2014,5,3,4,55,5,0
17479188,1,2014,Alaska,2,9,1,,,,2014,4,3,4,35,3,0
17479189,1,2014,Alaska,2,9,1,,,,2013,3,3,4,25,2,1
17479190,1,2014,Alaska,9,9,1,,,,2013,3,3,4,35,3,1
17479191,1,2014,Alaska,2,9,1,,,,2012,4,3,4,25,2,2
17479192,1,2014,Alaska,9,9,1,,,,2011,4,3,4,25,2,2
17479193,1,2014,Alaska,9,9,1,,,,2011,4,3,4,45,4,2
17479194,1,2014,Alaska,1,9,1,,,,2014,4,3,4,45,4,0
17479195,1,2014,Alaska,1,9,1,,,,2004,4,3,4,45,5,4
17479196,1,2014,Alaska,2,9,1,,,,2008,5,3,4,35,3,3
17479197,1,2014,Alaska,9,9,1,,,,2008,5,3,4,35,3,3
17479198,1,2014,Alaska,9,9,1,,,,2013,3,3,4,25,2,1
17479199,1,2014,Alaska,9,9,1,,,,2014,5,3,4,25,2,0
17479200,1,2014,Alaska,1,9,1,,,,2008,4,3,4,25,3,3
17479201,1,2014,Alaska,2,9,1,,,,2014,3,3,4,35,3,0
17479202,1,2014,Alaska,2,9,1,,,,2008,4,3,4,45,5,3
17479203,1,2014,Alaska,9,9,1,,,,2014,4,3,4,45,4,0
17479204,1,2014,Alaska,2,9,1,,,,2008,5,3,4,45,5,3
17479205,1,2014,Alaska,2,9,2,,,,2013,0,8,4,25,2,1
17479206,1,2014,Alaska,1,9,1,,,,2009,9,3,4,25,2,3
17479207,1,2014,Alaska,2,9,2,,,,2014,2,7,4,25,2,0
17479208,1,2014,Alaska,2,9,2,,,,2014,1,7,4,18,1,0
17479209,1,2014,Alaska,9,9,2,,,,2014,2,9,4,18,2,0
17479210,1,2014,Alaska,2,9,2,,,,2014,2,11,4,25,2,0
17479211,1,2014,Alaska,9,9,2,,,,2014,9,11,4,25,2,0
17479212,1,2014,Alaska,2,9,2,,,,2014,0,8,4,25,2,0